// npm install pug-cli -g
// pug coordinatorFrontEnd.pug

html 
    head
        link(rel='stylesheet', href='style.css')
        script(src='coordinatorFrontEnd.js')
    body
        div
            .tab
              button.tablinks(onclick="openTab(event, 'StudentPreferences')",) Student Preferences
              button.tablinks(onclick="openTab(event, 'ProjectList')") Project List
              button.tablinks(onclick="openTab(event, 'Allocations')") Allocations
            #StudentPreferences.tabcontent
                h3 Content 1
            #ProjectList.tabcontent
                h3 Content 2 
            #Allocations.tabcontent
                .table
                    table
                      thead
                        tr
                          th Student Number
                          th Last Name
                          th First Name
                          th Specialisation
                          th Allocation
                          th Supervisor/s
                        // insert JSON object parse
                        // dynamically add to table
                  
                      

