<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the top navigation bar */
.pagetitle {
    overflow: hidden;
    background-color: #F2EDD9;
    border-left: 15px solid #ce7019;
    padding-left: 25px;
    margin-bottom: 50px;
}

.pagetitle h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
    color: #564C23;
    font-size: 210%;
    font-weight: normal;
    margin: 0;
    padding: 6px 0 8px;
}

.topnav {
	overflow: hidden;
    background-color: #000000;
    margin-bottom: 50px;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}

nav {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

nav, th, td {
    border: 1px solid black;
}

button {
    background-color: #F2EDD9;
    border: 2px solid #564C23;
    outline: none;
    position:relative;
    margin-left: 10px;
    margin-right: 10px;
    display:inline-block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #564C23; 
    font-family: Georgia, "Times New Roman", Times, serif;
}

button:hover {
    background-color: #ece4c6;
    color: #564C23;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

table, th, td {
    border: 1px solid black;
}

table tr:nth-child(even) {
   background-color: #f5f5f5;
}

table th{
    background-color: #d9e6f2;
}

div.tab {
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.tabcontent {
    display: none;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
}
</style>
</head>
<body>

<div class= "topnav">
	<h1> blah </h1>
</div>

<div class="pagetitle">
  <h1> BE & MPE Final Year Project </h1>
</div>

<div class="content">
  <h2>CSS Template</h2>
  <p>A topnav, content and a footer.</p>
</div>

<div class="footer">
  <p>Footer</p>
</div>

</body>
</html>