<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>

body {
    margin: 0;
}


.mainheader {
    display: block;
    top: 0;
    left: 0;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: none;
}

.mainheader h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 76%;
    color: white;
    font-size: 18px;
    text-align: right;
    top: 15px;
    right: 50px;
    position: absolute;
}

.header_BG {
    width: 170%; 
    height: 19%;
    margin-top: -56px;
    margin-left: -30%;
}

.UWALogo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 54px;
}

.logo {
    position: relative;
    top: 0;
    left: 0;
    width: 210px;
    width/**/: /**/ 200px;
    height: 76px;
    height/**/: /**/ 59px;
    float: left;
    padding: 11px 0 0 10px;
}

img#printheader {
    display: none;
    width: 2500px;
    height: 74px;
}

input.save {
    display: none;
}

input.edit {
    display: inline;
}

input.delete {
    display: inline;
}

.pageTitle {
    overflow: hidden;
    background-color: #F2EDD9;
    border-left: 15px solid #ce7019;
    margin: 10px;
    padding-left: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.pageTitle h1 {
	font-family: Arial, Helvetica, sans-serif;
    color: #564C23;
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 8px;
}

.pageTitle h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0000;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.pageSubTitle {
    overflow: hidden;
    background-color: #F2EDD9;
    margin: 10px;
    border-left: 15px solid #ce7019;
    padding-left: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    z-index: 2;
}

.pageSubTitle h1 {
	font-family: Arial, Helvetica, sans-serif;
    color: #564C23;
    font-size: 15px;
    font-weight: 800;
    margin: 0;
    padding: 6px 0 8px;
}

.tab {
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.tabContent {
    display: none;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}

button {
    background-color: #F2EDD9;
    border: 2px solid #564C23;
    outline: none;
    position:relative;
    margin-left: 10px;
    margin-right: 10px;
    display:inline-block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #564C23; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

button:hover {
    background-color: #ece4c6;
    color: #564C23;
}


#projNum
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 50px;
}


.projectField
{
    font-family: Arial, Helvetica, sans-serif;
}

.textareaformat
{
   width: 50%;
   height: 10%;
   word-break: break-word;
}

.errormsg
{
    font-size: 30px;
    font-weight: bold;
    color: green;
    background-color: #F2EDD9;
}
.errorprint
{

    font-size: 30px;
    font-weight: bold;
    color: green;
    background-color: #F2EDD9;
}
.preferrors
{

    font-size: 30px;
    font-weight: bold;
    color: red;
    background-color: #F2EDD9;
}

.projectField
{
    background-color:aliceblue;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0px;

}

.buttonType
{   
    color: #27348b;
    background-color: #e1b600;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.buttonType:hover
{

    background-color: yellow; 
}

.discClass label
{
    display: inline-block;
    width: 120px;
}

.projclass label
{
    display: inline-block;
    width: 150px;
}

.persClass label
{
    display: inline-block;
    width: 150px;
}

.AcademicForm1 label
{
    display: inline-block;
    width: 180px;
}

.projDiscClass label
{
    display: inline-block;
    width: 120px;
}

/*Made for each tab to stay highlighted when that tab is active*/
button.selected {
    background-color: #eadead;
    color: #564C23;
}

/*Use for wrapping the datatable then below is for horiztontal scrolling*/
div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
}

.dataTables_scroll
{
    overflow:auto;
}

table.mainTables {
    border-collapse: collapse;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

table.expandTable {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    overflow:auto;
    
}



table.maintables>thead>tr>th ,table.maintables>tbody>tr>td {
    border: 1px solid black;
}


table.mainTables>tbody>tr>td, table.expandTable>tbody>tr>td {
   background-color: #f5f5f5;
}

table.mainTables th, table.expandTable th{
    background-color: #d9e6f2;
    cursor:pointer;
}

td.details-control {
    background: url('http://co.clayton.ga.us/images/Mobile/plus.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('https://static.wefut.com/assets/images/red_minus.png') no-repeat center center;
}

