html
  
    head
      link(href='https://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet')
      link(rel='stylesheet', type='text/css', href='AcademicFrontEnd.css')
      link(rel='stylesheet', type='text/css', href='/stylesheets/coordinatorFrontEnd.css')

      style.
        * {
        font-family: 'Ubuntu', sans-serif;
        }
    body
      div
        .mainheader
          img.header_BG(src='https://secure.csse.uwa.edu.au/newcss/graphics/header-background-02.jpg', alt='')
          img.UWALogo(src='https://secure.csse.uwa.edu.au/newcss/graphics/uwacrest.png', alt='UWA LOGO')
          h1 Faculty of Engineering and Mathematical Sciences
          .pageTitle
            h2 BE and MPE Engineering Research Project
        .pageSubTitle
          h1 Academic Research Project Form
        br
      form.AcademicForm1(action='', method='POST')
          fieldset.projectField
            p.errormsg #{error}
            label Project Title:
            input#projTitle(type='text', name='projTitle', required)
            br
            br
            label Primary Supervisor: 
            input#Supervisor1(type='text', name='Supervisor1', required)
            br
            br
            label Supervisor 2: 
            input#Supervisor2(type='text', name='Supervisor2')
            br
            br
            label Supervisor 3: 
            input#Supervisor3(type='text', name='Supervisor3')
            br
            br
            label Supervisor 4: 
            input#Supervisor3(type='text', name='Supervisor4')
            br
            br
            label Supervisor 5: 
            input#Supervisor3(type='text', name='Supervisor5')
            br
            br
            label Minimum Capacity: 
            input#capacityProj(size='5', type='number', min='1', name='capacityProjMIN', required)
            br
            br
            label Maximum Capacity: 
            input#capacityProj(size='5', type='number', name='capacityProjMAX', required)
            br
            br
            label Project brief description: 
            br
            textarea.textareaformat(name='projectDescription', required)
            br
            br
            label Prerequisite skills: 
            br
            textarea.textareaformat(name='priorSkill')
            br
            br
            label Discipline: 
            br
            .projDiscClass
                input#discipline(type='checkbox', name='discipline', value='Electrical')
                label Electrical & Electronic
                input#discipline(type='checkbox', name='discipline', value='Materials')
                label Materials
                input#discipline(type='checkbox', name='discipline', value='Mechanical')
                label Mechanical
                input#discipline(type='checkbox', name='discipline', value='Civil')
                label Civil
                input#discipline(type='checkbox', name='discipline', value='Chemical')
                label Chemical 
                br
                input#discipline(type='checkbox', name='discipline', value='Software')
                label Software
                input#discipline(type='checkbox', name='discipline', value='Environmental')
                label Environmental
                input#discipline(type='checkbox', name='discipline', value='Petroleum')
                label Petroleum
                input#discipline(type='checkbox', name='discipline', value='Oilandgas')
                label Oil & Gas
                input#discipline(type='checkbox', name='discipline', value='Mining')
                label Mining
                br
            br
            input.buttonType(type='submit', value='Submit')
            input.buttonType(type='reset', value='Reset')  
