//extends layout
//
//block content
//  h1= title
//  p Welcome to #{title}


html
    head
        title Student Project Allocation Form
        link(rel='stylesheet', href='/stylesheets/genCSS.css')
        link(rel='stylesheet', href='/stylesheets/studentFrontEnd.css')
        link(href='https://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='studentFrontEnd.js')
    body
        #title
        img#UWALogo(src='https://static.wixstatic.com/media/2144d8_0bc4425578514f20bf9ffe589635b284~mv2.png', alt='UWA LOGO', style='width:900px;')
        h1 Student Project Preferences Form
        form.form(action='/', method='post', enctype='multipart/form-data')
            fieldset
                legend Personal Details
                label(for='firstName') First Name: 
                input#firstName(type='text', name='firstName', required='')
                br
                br
                label(for='lastName') Last Name: 
                input#lastName(type='text', name='lastName', required='')
                br
                br
                label(for='studentID') Student Number: 
                input#studentID(type='number', name='studentID', maxlength='8', size='8', min='20000000', max='29999999', required='')
                br
                br
                label(for='studentPhoneNumber') Phone Number: 
                input#studentPhoneNumber(type='text', name='studentPhoneNumber', maxlength='12')
                br
                br
                label(for='discipline') Discipline: 
                br
                input#discipline(type='radio', name='discipline', value='electrical', required='')
                |  Electrical
                input#discipline(type='radio', name='discipline', value='mechanical', required='')
                |  Mechanical
                input#discipline(type='radio', name='discipline', value='chemical', required='')
                |  Chemical
                br
                input#discipline(type='radio', name='discipline', value='software', required='')
                | Software
                input#discipline(type='radio', name='discipline', value='civil', required='')
                | Civil
                input#discipline(type='radio', name='discipline', value='Environmental', required='')
                |  Environmental
           
            input#submit(type='submit', value='Submit')


